.pyro > .before, .pyro > .after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
    -moz-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -o-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    -ms-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
    animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}
.pyro > .after {
    -moz-animation-delay: 1.25s, 1.25s, 1.25s;
    -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
    -o-animation-delay: 1.25s, 1.25s, 1.25s;
    -ms-animation-delay: 1.25s, 1.25s, 1.25s;
    animation-delay: 1.25s, 1.25s, 1.25s;
    -moz-animation-duration: 1.25s, 1.25s, 6.25s;
    -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
    -o-animation-duration: 1.25s, 1.25s, 6.25s;
    -ms-animation-duration: 1.25s, 1.25s, 6.25s;
    animation-duration: 1.25s, 1.25s, 6.25s;
}
@-webkit-keyframes bang {
    to {
        box-shadow: -108px -77.6666666667px #000dff, -67px -392.6666666667px #00ffb7, 125px -167.6666666667px #6aff00, 63px -379.6666666667px #30f, 46px 74.3333333333px #ff0051, -235px -200.6666666667px #4cff00, 118px -253.6666666667px #f06, 95px -278.6666666667px #ffe600, 24px -300.6666666667px #0051ff, -115px -191.6666666667px #ff3c00, -107px -1.6666666667px #ef0, -178px -233.6666666667px #26ff00, -169px 28.3333333333px #00ffd5, 192px -335.6666666667px #0d00ff, -209px -254.6666666667px #ff2f00, -198px -154.6666666667px #00d9ff, 141px -6.6666666667px #ff0062, 213px -367.6666666667px #b3ff00, 19px -56.6666666667px #ff00d5, -92px -185.6666666667px #0080ff, -112px -176.6666666667px #af0, -233px -78.6666666667px #80ff00, -110px -170.6666666667px #20f, 129px -304.6666666667px #30f, -231px -392.6666666667px #0f8, 96px 14.3333333333px #ff0008, 88px -148.6666666667px #0080ff, -43px -367.6666666667px #7f0, 137px -114.6666666667px #40f, 226px -219.6666666667px #ff0095, -150px 72.3333333333px #ff006a, -249px -92.6666666667px #0400ff, 230px 83.3333333333px #ffc800, -103px 33.3333333333px #ae00ff, 111px -133.6666666667px #00fbff, -20px 81.3333333333px #ffe600, 152px 45.3333333333px #c0f, 32px -318.6666666667px #08f, -224px -335.6666666667px #4f0, 230px -228.6666666667px #00ff91, -6px -162.6666666667px #00f7ff, -28px -192.6666666667px #01f, -116px -377.6666666667px #e6ff00, -241px -7.6666666667px #48ff00, 161px -121.6666666667px #3c00ff, -200px -184.6666666667px #f90, -214px -137.6666666667px #00ff6a, 9px 40.3333333333px #04ff00, 47px -60.6666666667px #6aff00, 223px 17.3333333333px #f07, -126px 83.3333333333px #ffea00;
   }
}
@-moz-keyframes bang {
    to {
        box-shadow: -108px -77.6666666667px #000dff, -67px -392.6666666667px #00ffb7, 125px -167.6666666667px #6aff00, 63px -379.6666666667px #30f, 46px 74.3333333333px #ff0051, -235px -200.6666666667px #4cff00, 118px -253.6666666667px #f06, 95px -278.6666666667px #ffe600, 24px -300.6666666667px #0051ff, -115px -191.6666666667px #ff3c00, -107px -1.6666666667px #ef0, -178px -233.6666666667px #26ff00, -169px 28.3333333333px #00ffd5, 192px -335.6666666667px #0d00ff, -209px -254.6666666667px #ff2f00, -198px -154.6666666667px #00d9ff, 141px -6.6666666667px #ff0062, 213px -367.6666666667px #b3ff00, 19px -56.6666666667px #ff00d5, -92px -185.6666666667px #0080ff, -112px -176.6666666667px #af0, -233px -78.6666666667px #80ff00, -110px -170.6666666667px #20f, 129px -304.6666666667px #30f, -231px -392.6666666667px #0f8, 96px 14.3333333333px #ff0008, 88px -148.6666666667px #0080ff, -43px -367.6666666667px #7f0, 137px -114.6666666667px #40f, 226px -219.6666666667px #ff0095, -150px 72.3333333333px #ff006a, -249px -92.6666666667px #0400ff, 230px 83.3333333333px #ffc800, -103px 33.3333333333px #ae00ff, 111px -133.6666666667px #00fbff, -20px 81.3333333333px #ffe600, 152px 45.3333333333px #c0f, 32px -318.6666666667px #08f, -224px -335.6666666667px #4f0, 230px -228.6666666667px #00ff91, -6px -162.6666666667px #00f7ff, -28px -192.6666666667px #01f, -116px -377.6666666667px #e6ff00, -241px -7.6666666667px #48ff00, 161px -121.6666666667px #3c00ff, -200px -184.6666666667px #f90, -214px -137.6666666667px #00ff6a, 9px 40.3333333333px #04ff00, 47px -60.6666666667px #6aff00, 223px 17.3333333333px #f07, -126px 83.3333333333px #ffea00;
   }
}
@-o-keyframes bang {
    to {
        box-shadow: -108px -77.6666666667px #000dff, -67px -392.6666666667px #00ffb7, 125px -167.6666666667px #6aff00, 63px -379.6666666667px #30f, 46px 74.3333333333px #ff0051, -235px -200.6666666667px #4cff00, 118px -253.6666666667px #f06, 95px -278.6666666667px #ffe600, 24px -300.6666666667px #0051ff, -115px -191.6666666667px #ff3c00, -107px -1.6666666667px #ef0, -178px -233.6666666667px #26ff00, -169px 28.3333333333px #00ffd5, 192px -335.6666666667px #0d00ff, -209px -254.6666666667px #ff2f00, -198px -154.6666666667px #00d9ff, 141px -6.6666666667px #ff0062, 213px -367.6666666667px #b3ff00, 19px -56.6666666667px #ff00d5, -92px -185.6666666667px #0080ff, -112px -176.6666666667px #af0, -233px -78.6666666667px #80ff00, -110px -170.6666666667px #20f, 129px -304.6666666667px #30f, -231px -392.6666666667px #0f8, 96px 14.3333333333px #ff0008, 88px -148.6666666667px #0080ff, -43px -367.6666666667px #7f0, 137px -114.6666666667px #40f, 226px -219.6666666667px #ff0095, -150px 72.3333333333px #ff006a, -249px -92.6666666667px #0400ff, 230px 83.3333333333px #ffc800, -103px 33.3333333333px #ae00ff, 111px -133.6666666667px #00fbff, -20px 81.3333333333px #ffe600, 152px 45.3333333333px #c0f, 32px -318.6666666667px #08f, -224px -335.6666666667px #4f0, 230px -228.6666666667px #00ff91, -6px -162.6666666667px #00f7ff, -28px -192.6666666667px #01f, -116px -377.6666666667px #e6ff00, -241px -7.6666666667px #48ff00, 161px -121.6666666667px #3c00ff, -200px -184.6666666667px #f90, -214px -137.6666666667px #00ff6a, 9px 40.3333333333px #04ff00, 47px -60.6666666667px #6aff00, 223px 17.3333333333px #f07, -126px 83.3333333333px #ffea00;
   }
}
@-ms-keyframes bang {
    to {
        box-shadow: -108px -77.6666666667px #000dff, -67px -392.6666666667px #00ffb7, 125px -167.6666666667px #6aff00, 63px -379.6666666667px #30f, 46px 74.3333333333px #ff0051, -235px -200.6666666667px #4cff00, 118px -253.6666666667px #f06, 95px -278.6666666667px #ffe600, 24px -300.6666666667px #0051ff, -115px -191.6666666667px #ff3c00, -107px -1.6666666667px #ef0, -178px -233.6666666667px #26ff00, -169px 28.3333333333px #00ffd5, 192px -335.6666666667px #0d00ff, -209px -254.6666666667px #ff2f00, -198px -154.6666666667px #00d9ff, 141px -6.6666666667px #ff0062, 213px -367.6666666667px #b3ff00, 19px -56.6666666667px #ff00d5, -92px -185.6666666667px #0080ff, -112px -176.6666666667px #af0, -233px -78.6666666667px #80ff00, -110px -170.6666666667px #20f, 129px -304.6666666667px #30f, -231px -392.6666666667px #0f8, 96px 14.3333333333px #ff0008, 88px -148.6666666667px #0080ff, -43px -367.6666666667px #7f0, 137px -114.6666666667px #40f, 226px -219.6666666667px #ff0095, -150px 72.3333333333px #ff006a, -249px -92.6666666667px #0400ff, 230px 83.3333333333px #ffc800, -103px 33.3333333333px #ae00ff, 111px -133.6666666667px #00fbff, -20px 81.3333333333px #ffe600, 152px 45.3333333333px #c0f, 32px -318.6666666667px #08f, -224px -335.6666666667px #4f0, 230px -228.6666666667px #00ff91, -6px -162.6666666667px #00f7ff, -28px -192.6666666667px #01f, -116px -377.6666666667px #e6ff00, -241px -7.6666666667px #48ff00, 161px -121.6666666667px #3c00ff, -200px -184.6666666667px #f90, -214px -137.6666666667px #00ff6a, 9px 40.3333333333px #04ff00, 47px -60.6666666667px #6aff00, 223px 17.3333333333px #f07, -126px 83.3333333333px #ffea00;
   }
}
@keyframes bang {
    to {
        box-shadow: -108px -77.6666666667px #000dff, -67px -392.6666666667px #00ffb7, 125px -167.6666666667px #6aff00, 63px -379.6666666667px #30f, 46px 74.3333333333px #ff0051, -235px -200.6666666667px #4cff00, 118px -253.6666666667px #f06, 95px -278.6666666667px #ffe600, 24px -300.6666666667px #0051ff, -115px -191.6666666667px #ff3c00, -107px -1.6666666667px #ef0, -178px -233.6666666667px #26ff00, -169px 28.3333333333px #00ffd5, 192px -335.6666666667px #0d00ff, -209px -254.6666666667px #ff2f00, -198px -154.6666666667px #00d9ff, 141px -6.6666666667px #ff0062, 213px -367.6666666667px #b3ff00, 19px -56.6666666667px #ff00d5, -92px -185.6666666667px #0080ff, -112px -176.6666666667px #af0, -233px -78.6666666667px #80ff00, -110px -170.6666666667px #20f, 129px -304.6666666667px #30f, -231px -392.6666666667px #0f8, 96px 14.3333333333px #ff0008, 88px -148.6666666667px #0080ff, -43px -367.6666666667px #7f0, 137px -114.6666666667px #40f, 226px -219.6666666667px #ff0095, -150px 72.3333333333px #ff006a, -249px -92.6666666667px #0400ff, 230px 83.3333333333px #ffc800, -103px 33.3333333333px #ae00ff, 111px -133.6666666667px #00fbff, -20px 81.3333333333px #ffe600, 152px 45.3333333333px #c0f, 32px -318.6666666667px #08f, -224px -335.6666666667px #4f0, 230px -228.6666666667px #00ff91, -6px -162.6666666667px #00f7ff, -28px -192.6666666667px #01f, -116px -377.6666666667px #e6ff00, -241px -7.6666666667px #48ff00, 161px -121.6666666667px #3c00ff, -200px -184.6666666667px #f90, -214px -137.6666666667px #00ff6a, 9px 40.3333333333px #04ff00, 47px -60.6666666667px #6aff00, 223px 17.3333333333px #f07, -126px 83.3333333333px #ffea00;
   }
}
@-webkit-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-moz-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-o-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-ms-keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@keyframes gravity {
    to {
        transform: translateY(200px);
        -moz-transform: translateY(200px);
        -webkit-transform: translateY(200px);
        -o-transform: translateY(200px);
        -ms-transform: translateY(200px);
        opacity: 0;
   }
}
@-webkit-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@-moz-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@-o-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@-ms-keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
@keyframes position {
    0%, 19.9% {
        margin-top: 10%;
        margin-left: 40%;
   }
    20%, 39.9% {
        margin-top: 40%;
        margin-left: 30%;
   }
    40%, 59.9% {
        margin-top: 20%;
        margin-left: 70%;
   }
    60%, 79.9% {
        margin-top: 30%;
        margin-left: 20%;
   }
    80%, 99.9% {
        margin-top: 30%;
        margin-left: 80%;
   }
}
